# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDEs / Editors
.idea/
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Misc
*.log